<html>
<head>
<style>
		body{
			background-image: url(https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F62212378-4ae8-45a8-ac8d-46f0d30bca4f_2987x1717.jpeg);
			background-repeat: no-repeat;
			background-size:cover;

		}
		
		button{
			font-size:40px;
			
		}
	</style>
</style>
	
</head>
<body>
	<center>
		<br><br><br><br><br><br><br><br>
		<form action="/addblog/">
		<button>Add Blog</button></form>


		<form action="/displayblog/">
		<button>Display Blog</button></form>


		<form action="/editblog/">
		<button>Edit Blog</button></form>


		<form action="/Deleteblog/">
		<button>Delete Blog</button></form>
		
	</center>
</body>
</html>